p{
    color:rgb(0, 0, 0);
    font-size: 30pt;
    font-family: Arial;
}

#p1{
    background-color:rgb(150, 128, 229);

}

#p2{
    background-color:rgb(106, 103, 116);

}

.pb{
    background-color: black;
    color:white;
}

a{
    color:rgb(4, 103, 190)

}

a:hover{
    color: rgb(173, 9, 9);
}